<div>
    <table class='board'>
      <tr>
        <td style="font-size:12px; padding:10px; background-color:#ffccee;">
          board
        </td>
      </tr>
    </table>
    <br>
    <form action="/New_Game">
      Enter coordinates to strike:
      <input type="text" name="coordinates">
      <input type="submit" value="Submit">
    </form>
</div>