<pre><%= $game.own_board_view $game.player_1 %></pre>
<pre><%= $game.opponent_board_view $game.player_1 %></pre>

<form id="Fire" action="/Gameplay" method="post">
  <input type="text" name="fire" >
  <input type="submit" value="Fire!">
</form>