<div>
  <% if @name == "" || !@name %>
    <form action="/New_Game">
      What's your name?
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
  <% else %>
    Welcome to Battleships, <%= @name %>!
    <br><br>

    <pre><%= $game.own_board_view $game.player_1 %></pre>
<!--     <table class='board'>
      <tr>
        <td style="font-size:12px; padding:10px; background-color:#ffccee;">
          board
        </td>
      </tr>
    </table> -->
     Please place a ship
      <form action="/Player_Board" method="post">
        <input type="hidden" name="name" value=<%= @name %>> 
        Ship: <input type="text" name="ship" >
        Coordinates: <input type="text" name="coordinates" >
        Orientation: <!-- <input type="text" name="orientation" > -->

        <select name="orientation">
          <option name="orientation" value="vertically">Vertical</option>
          <option name="orientation" value="horizontally">Horizontal</option>
        </select>

        <input type="submit" value="Submit">
    </form>
<!--     <% if @coordinates == "A1" %>
      Location hit
    <% end %> -->
  <% end %>
  <% if @name == "" %>
    Please fill in your name
  <% end %>
</div>