<div>
  <% if @name == "" || !@name %>
    <form action="/New_Game">
      "What's your name?"
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
  <% else %>
    Welcome to Battleships, <%= @name %>!
    <table class='board'>
      
    </table>  
  <% end %>
  <% if @name == "" %>
    Please fill in your name
  <% end %>
</div>